<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Shows</title>
    </head>
    <body>
        <h2>IMDB: Top 5 Episodes</h2>
        <table width="100%", border="solid">
        <tr>
            <th>Title</th>
            <th>Episodes</th>
            <th>Rating</th>
        </tr>
        <tr th:object="${show1}">
            <th th:text="*{title}"></th>
            <th th:text="*{episode}"></th>
            <th th:text="*{rating}"></th>
        </tr>
        <tr th:object = "${show2}">
            <th th:text="*{title}"></th>
            <th th:text="*{episode}"></th>
            <th th:text="*{rating}"></th>
        </tr>
        <tr th:object = "${show3}">
            <th th:text="*{title}"></th>
            <th th:text="*{episode}"></th>
            <th th:text="*{rating}"></th>
        </tr>
        <tr th:object= "${show4}">
            <th th:text="*{title}"></th>
            <th th:text="*{episode}"></th>
            <th th:text="*{rating}"></th>
        </tr>
        <tr th:object="${show5}">
            <th th:text="*{title}"></th>
            <th th:text="*{episode}"></th>
            <th th:text="*{rating}"></th>
        </tr>
        </table>        
    </body>
</html>